<%- include("header") -%>

<h2>This is the about page</h2>

<p>You can create your custom todo list by clicking on the create button or simply in the home page add /nameOfYourCustomTodolist after the main url.</p>

<%- include("footer") -%>
